/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

@font-face {
    font-family: Banny;
    src: url(../fonts/Banny-Round.otf);
}

html,
body{
    scroll-behavior: smooth;
}
body{
    font-family: Open Sans;
    overflow-x: hidden;
}


.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}


.title{
    font-family: Banny;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    &::after{
        content: '';
        display: block;
        margin: 22px auto;
        width: 59.19px;
        height: 5px;
        background: #E8C300;
        border-radius: 50px;
        z-index: 8;
    }
    &__white{
        color: #fff;
        font-family: Banny;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        &::after{
            content: '';
            display: block;
            margin: 22px auto ;
            width: 64.73px;
            height: 5px;
            background: #E8C300;
            border-radius: 50px;
            z-index: 8;
        }
    }
}


.img-box-after::after{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    top: 50%;
    right: -75px;
    transform: translateY(-50%);
}

.img-box-before::before{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    top: 50%;
    left: -75px;
    transform: translateY(-50%);
}


.descr{
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.text{
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.img__box{
    position: relative;
}

// ==========================================================================================

// face

.face{
    background-image: url(../img/face.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 800px;
    width: 100%;
    overflow: hidden;
}
@media(min-width: 1440px){
    .face{
        background-size: 100%;
    }
    .team{
        background-size: 100%;
    }
    .spec,
    .events{
        background-size: 100%;
    }
}

// header


.header{
    height: 100px;
    display: flex;
    align-items: center;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__list{
        display: flex;
        align-items: center;
        width: 450px;
        justify-content: space-between;
    }
    &__logo{
        padding-top: 95px;
    }
    &__link{
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
        transition: all .2s linear;
        &:hover{
            color: #c7c3c3;
        }
    }
}


// main


.main{
    margin-top: 214px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    &__content{
        text-align: center;
        color: #fff;
    }
    &__descr{
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__title{
        font-family: Banny;
        font-size: 96px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        &::after{
            content: '';
            display: block;
            width: 60px;
            background: #E8C300;
            border-radius: 50px;
            height: 5.5px;
            margin: 44px auto 60px;
        }
    }

    &__buttons{
        display: flex;
        width: 440px;
        margin: 0 auto;
        justify-content: space-between;
    }

    &__btn{
        &-link{
            display: inline-block;
            width: 200px;
            padding: 27px 0;
            font-weight: bold;
            font-size: 12px;
            line-height: 20px;
            color: #FFFFFF;
            border-radius: 5px;
            transition: all .3s linear;
        }
        &-table{
            background: #E8C300;
            &:hover{
                background-color: #d4bc43;
            }
        }
        &-explore{
            border: 1px solid rgba(255, 255, 255, 0.5);
            &:hover{
                background-color: rgba(166, 168, 28, 0.411);
            }
        }
    }

    &__work{
        position: absolute;
        left: -60px;
        &-text{
            color: #fff;
            transform: rotate(-90deg);
        }
    }
    &__social{
        position: absolute;
        right: 79px;
        & div + div{
            margin-top: 20px;
        }
        &-item{
            width: 40px;
            height: 40px;
            text-align: center;
        }
        &-item{
            padding: 10px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 50%;
        }
    }
}


// down btn


.down__btn{
    margin-top: 75px;
    &-inner{
        text-align: center;
    }
    &-info{
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding-top: 22px;
    }
    &-link{
        background-color: #fff;
        padding: 10px 13px;
        border-radius: 50%;
    }
}


// about


.about{
    padding: 100px 0;
    overflow: hidden;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
    }
    &__content{
        max-width: 600px;
    }
    &__descr{
        color: #000000;
    }
    &__text{
        color: #000000;
    }
}


// team


.team{
    background-image: url(../img/team.png);
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 100px;
    width: 100%;
    overflow: hidden;
    &__header{
        height: 100px;
        display: flex;
        align-items: center;
        text-align: center;
        &-text{
            display: inline-block;
            text-align: center;
            color: #fff;
            margin: 0 auto;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.5em;
            text-transform: uppercase;
        }
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
    }
    &__content{
        max-width: 600px;
        color: #fff;
    }
}




// booking


.booking{
    overflow: hidden;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
    }
    &__list-box{
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        flex-wrap: wrap;
        align-items: center;
    }
    &__list{
        & div + div{
            margin-top: 10px;
        }
        &-input{
            display: inline-block;
            padding: 20px 5px 20px 25px;
            width: 277px;
            background: #E5E5E5;
            border-radius: 5px;
            font-size: 14px;
            line-height: 19px;
        }
    }
    &__btn{
        &-link{
            margin-top: 10px;
            display: inline-block;
            padding: 25px 0;
            width: 100%;
            background: #E8C300;
            text-align: center;
            border-radius: 5px;
            font-weight: bold;
            font-size: 12px;
            line-height: 20px;
            color: #FFFFFF;
            border-radius: 5px;
            transition: all .3s linear;
            &:hover{
                border-radius: 18px;
                background-color: #f90;
            }
        }
    }
    &__info{
        text-align: center; 
        margin-bottom: 50px;
        &-item{
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            color: rgba(51, 51, 51, 0.5);
            border-radius: 5px;
            & > span{
                font-weight: bold;
            }
        }
    }
}


.booking__list + .booking__list{
    margin-left: 10px;
}



//  specialties



.spec{
    overflow: hidden;
    background-image: url(../img/spec.png);
    height: auto;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 100px;
    &__header{
        height: 100px;
        display: flex;
        align-items: center;
        text-align: center;
        &-text{
            display: inline-block;
            text-align: center;
            color: #fff;
            margin: 0 auto;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.5em;
            text-transform: uppercase;
        }
    }
    &__content{
        &-info{
            display: flex;
            justify-content: space-between;
            color: #fff;
            align-items: center;
        }
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
    z-index: 5;
}

.swiper-slide {
    width: 1300px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.swiper-pagination-bullet-active{
    background-color: #fff;
}

.swiper-pagination-bullet{
    background-color: #fff;
    width: 10px;
    height: 10px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 10px;
}


// menu




.menu{
    overflow: hidden;
    padding: 100px 0;
    &__descr{
        max-width: 565px;
        margin: 0 auto 50px;
    }
    &__nav{
        display: flex;
        max-width: 840px;
        margin: 0 auto 51px;
        flex-wrap: wrap;
        &-link{
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: #333333;
            padding: 21px 38px;
            border-right: 1px solid rgba(51, 51, 51, 0.2);;
            transition: all .3s linear;
            &:hover{
                background-color: rgb(185, 185, 185);
                color: #fff;
                border-radius: 8px;
                border-right: none;
            }
            &:last-child{
                border-right: none;
            }
        }
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 100%;
        align-items: center;
    }
    &__group{
        &-box{
            height: 66px;
        }
        &-title{
            font-family: Banny;
            font-weight: 600;
            font-size: 18px;
            line-height: 18px;
            color: #333333;
        }
        &-descr{
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            color: rgb(110, 96, 96);
        }
    }
}





// events




.events{
    overflow: hidden;
    background-image: url(../img/events.png);
    background-repeat: no-repeat;
    background-position: top center;
    &__images{
        display: flex;
        justify-content: space-between;
    }
    &__img{
        &-info{
            position: absolute;
            font-family: Banny;
            font-size: 24px;
            line-height: 12px;
            text-indent: 20px;
            text-transform: uppercase;
            color: #FFFFFF;
            background: #000;
            width: 480px;
            padding: 30px 0;
            z-index: 9;
            top: 48px;
        }
        &-wed{
            -webkit-transform: rotate(90deg);
            -webkit-transform-origin: left top;
            -moz-transform: rotate(90deg);
            -moz-transform-origin: left top;
            -ms-transform: rotate(90deg);
            -ms-transform-origin: left top;
            -o-transform: rotate(90deg);
            -o-transform-origin: left top;
            transform: rotate(90deg);
            transform-origin: left top;
            left: 92%;
        }
        &-corp{
            -webkit-transform: rotate(-90deg);
            -webkit-transform-origin: left bottom;
            -moz-transform: rotate(-90deg);
            -moz-transform-origin: left bottom;
            -ms-transform: rotate(-90deg);
            -ms-transform-origin: left bottom;
            -o-transform: rotate(-90deg);
            -o-transform-origin: left bottom;
            transform: rotate(-90deg);
            transform-origin: left bottom;
            left: 117px;
            top: 455px;
        }
    }
    &__info{
        text-align: center;
        padding-bottom: 10px;
        &-text{
            font-size: 12px;
            line-height: 12px;
            color: rgba(255, 255, 255, 0.5);
            border-radius: 5px;
            & > span{
                font-weight: bold;
            }
        }
    }
}



// gallery 


.gallery{
    overflow: hidden;
    &__inner{
        display: flex;
        text-align: center;
        max-width: 1440px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
}



// contact


.contact{
    overflow: hidden;
    padding: 100px 0;
    &__form{
        &-main{
            display: flex;
            justify-content: space-between;
            max-width: 100%;
            flex-wrap: wrap;
            margin-bottom: 10px;
        }
        &-input{
            padding: 22px 20px;
            width: 1280px;
            height: 120px;
            background: #E5E5E5;
            border-radius: 5px;
            resize: none;
            font-size: 14px;
            line-height: 19px;
            display: inline-block;
        }
    }
    &__main{
        &-input{
            padding: 22px 20px;
            background: #E5E5E5;
            border-radius: 5px;
            display: inline-block;
            width: 420px;
            font-size: 14px;
            line-height: 19px;
        }
    }
    &__btn{
        text-align: right;
        margin-top: 10px;
        &-link{
            font-weight: bold;
            font-size: 12px;
            line-height: 20px;
            color: #FFFFFF;
            background: #E8C300;
            border-radius: 5px;
            padding: 22px 0;
            display: inline-block;
            width: 400px;
            text-align: center;
            transition: all .3s linear;
            &:hover{
                background-color: #f90;
            }
        }
    }
}

.map-item{
    width: 100%;
}

// footer


.footer{
    overflow: hidden;
    min-height: 100px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    &__info{
        text-align: center;
        font-size: 12px;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        & > span{
            font-weight: 700;
        }
    }
}


// ================================




.mobile__inner{
    display: none;
}





















